# Configurações do MangaUpdates
MU_USERNAME="seu_usuario"
MU_PASSWORD="sua_password"

# Configurações do Telegram
TELEGRAM_BOT_TOKEN="seu_token_aqui"
TELEGRAM_CHAT_ID="seu_chat_id_aqui"

# API Listener (Para comunicação reversa)
LISTENER_API_PORT="7356"
LISTENER_API_TOKEN="um_segredo_muito_grande_aqui"

# Configurações do Pessegram (Se precisar mandar gritos diretos)
PESSEGRAM_API_URL="http://sua_url_aqui:7355/falar"
PESSEGRAM_API_TOKEN="o_token_do_pessegram_aqui"

